<div class="top_bg">
	<div class="container">
		<div class="left_col">
			<img src="/images/features.png" />
			<h2>Applications</h2>
			<p>The coil tubing industry has expanded very quickly and with it, its additional application for downhole motors have as well.  requirement for downhole.  The M3 exceeds any present motor in its ability for clean out, heavy duty milling, window cutting and drilling environments.  Most of these applications require the M3's high torque,  elevated flow rates, ability to handle heavy loads on bit to perform the task at hand.</p>
		</div>
	</div>
</div>