<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Martini Worldwide</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/epq8thw.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
<div id="wrapper">
	<div class="navigation">
		<a href="/contact" class="contact">Contact Us</a>
		
		<a href="/" class="home"></a>
		
		<ul>
			<li><a <% if @features == true %> class="active_link" <% end %> href="/features">Features</a></li>
			<li><a <% if @apps == true %> class="active_link" <% end %> href="/applications">Applications</a></li>
			<li><a <% if @specs == true %> class="active_link" <% end %> href="/specifications">Specifications</a></li>
			<li><a <% if @resell == true %> class="active_link" <% end %> href="/resellers" class="reseller">Resellers</a></li>
		</ul>
	</div>
	
	<div class="main">
		<%= yield %>
	</div>	

	<div id="footer">
		&copy;2011 Martini Worldwide.   All rights reserved.
	</div>
</div>
</body>
</html>
