body
{
	margin:0;
	padding:0;
	background:#fff;
	font-family: "myriad-pro-1","myriad-pro-2", "Myriad Pro", sans-serif;
	color:#959595;
	font-weight:300;
}

h2
{
  color:#000;
  font-size:36px;
  margin:0;
}

h3
{
  color:#959595;
  font-size:24px;
  font-weight:normal;
  margin:0 0 0 0;
}

a
{
  color:#82acd9;
}

p
{
  font-size:18px;
}

#wrapper
{
	width:960px;
	margin:0 auto;
}

.navigation
{
  margin-top:5px;
  width:968px;
  height:86px;
  background:url("/images/topbar.jpg");
  font-weight:300;
  font-size:18px;
  position:relative;
}

.navigation ul
{
	margin:-1px 14px 0 0;
  padding:0;
  float:right;
  list-style:none;
  clear:right;
}

.navigation ul li
{
  float:left;
  margin:0;
}

.navigation ul li a
{
	padding:10px 15px 10px ;
	display:inline-block;
  color:#8b8b8b;
  text-decoration:none;
}

.navigation ul li a:hover, .navigation ul li a.active_link
{
	background:url("/images/nav_hover.png") repeat-x;
}

a.home
{
  display:inline-block;
  width:70px;
  height:40px;
  position:absolute;
  top:40px;
  left:10px;
}

a.reseller
{
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
}


/* Promos */
.promos
{
  height:464px;
  width:940px;
  position:relative;
  left:14px;
  background:url("/images/promo.jpg");
}



.boxes
{
  position:relative;
  left:8px;
}

.box
{
  padding:20px;
  float:left;
  width:277px;
  height:277px;
  background:url("/images/box.jpg");
  color:#959595;
}

.box p
{
  clear:left;
  position:relative;
  top:-5px;
}

.box2
{
  padding:5px 30px;
  float:left;
  width:258px;
  height:307px;
  background:url("/images/box.jpg");
}

.box2 p
{
  margin:0;
}

.box h2, .box2 h2
{
  font-weight:500;
  margin:5px 0 0;
  color:#000;
  font-size:24px;
}

.box2 h2
{
  margin-top:10px;
}

.small
{
  font-size:14px;
}

.ruler
{
  position:relative;
  left:-21px;
  top:3px;
}

.elements
{
  float:left;
  margin-right:10px;
}

.tools
{
  float:right;
  margin-bottom:10px;
}

.top_bg
{
  background:url("/images/top_bg.jpg") no-repeat;
  margin-left:14px;
}

.container
{
  width:873px;
  padding:10px 35px;
  background:url("/images/bottom_bg.jpg") no-repeat bottom;
}

.left_col
{
  width:295px;
  padding-right:35px;
  font-size:20px;
  float:left;
}

.right_col
{
  border-left:#b3b3b3 3px solid;
  margin:2px 0 0 333px;
  min-height:500px;
}

.right_col2
{
  border-left:#b3b3b3 3px solid;
  margin:2px 0 0 333px;
  padding:0 0 0 15px;
  min-height:500px;
}

.left_col p
{
  font-weight:300;
  line-height:1.5;
}


/* Applications */
ul.accordian.application li
{
  background:url('/images/dropdown_bg.png') no-repeat 10px 15px;
}

/* Accordian */
ul.accordian
{
  margin:0;
  padding:0;
  list-style:none;
}

ul.accordian li
{
  padding:0;
  border-bottom:#b3b3b3 3px solid;
  padding:5px 0;
  cursor:pointer;
}

ul.accordian li h3
{
  font-size:28px;
  color:#959595;
  padding:10px 0 10px 60px;
  margin-left:7px;
}

ul.accordian li.cp h3
{
  background:url("/images/cl.png") no-repeat;
}

ul.accordian li.mp h3
{
  background:url("/images/mp.png") no-repeat;
}

ul.accordian li.compat h3
{
  background:url("/images/compat.png") no-repeat;
}

ul.accordian li.safety h3
{
  background:url("/images/safety.png") no-repeat;
}

ul.accordian li.fire h3
{
  background:url("/images/fire.png") no-repeat;
}

ul.accordian li.bulb h3
{
  background:url("/images/bulb.png") no-repeat;
}

ul.accordian li.weight h3
{
  background:url("/images/weight.png") no-repeat;
}

ul.accordian li.acid h3
{
  background:url("/images/acid.png") no-repeat;
}

ul.accordian li img
{
  float:right;
  margin-left:5px;
}

ul.accordian li p
{
  margin-top:5px;
}

ul.accordian li .extra
{
  width:522px;
  display:none;
  padding-left:15px;
}

ul.accordian li .extra img
{
  
}

/* Specs */

img.spec
{
  float:left;
  margin-right: 15px;
}

.top
{
  margin-left:150px;
}

a.spec_button
{
  background:url("/images/spec_button.png");
  display:inline-block;
  margin:5px 0;
  width:286px;
  padding:10px 0;
  height:74px;
  color:#000;
  font-size:28px;
  text-align:center;
  text-decoration:none;
}

a.tab
{
  background:url('/images/tab.jpg');
  width:158px;
  color:#959595;
  font-size:24px;
  text-decoration:none;
  font-weight:bold;
  height:28px;
  padding:2px 0;
  text-align:center;
  display:inline-block;
}

a.tab.active
{
  background:url('/images/tab_active.jpg');
}

.bottom_specs
{
  padding:20px 0;
  background:url('/images/spec_bottom.jpg') no-repeat center top;
}

.bottom_specs .info
{
  margin:0 20px 0 0;
  width:200px;
  text-align:right;
  float:left;
}

.bottom_specs table
{
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  color:#000;
  width:650px;
  text-align:center;
}

.general_tab
{
  margin-left:220px;
}

.individual_tab
{
  display:none;
}

.big
{
  font-size:15px;
}

.bottom_specs tr td
{
  border-bottom:1px #000 dotted;
}

tr.solid td
{
  padding:0 0 10px 0;
  border-bottom:2px #000 solid;
}

td.left
{
  text-align:left;
}

td.dots
{
  border-bottom:1px #000 dotted;
}

td
{
  margin:0;
  padding:6px 0;
}

/* Resellers */

ul.resell
{
  margin:0;
  padding:0;
  list-style:none;
}

ul.resell li
{
  padding:0 10px;
  border-top:#b3b3b3 3px solid;
}

ul.resell li:first-child
{
  border-top:none;
}

ul.resell li.heading
{
  padding:0;
  padding:10px;
}

/* Contact */

img.contact
{
  margin-bottom:-40px;
}

a.contact
{
  color:#fff;
  float:right;
  text-decoration:none;
  margin:1px 4px 0 0;
  padding:9px 12px;
  display:inline-block;
}

a.contact.active_link, a.contact:hover
{
  background:url('/images/contact_hover.jpg');
}

form input[type="text"], form textarea
{
  width:300px;
}

form td
{
  text-align:left;
  padding: 3px 0;
}

form td.text
{
  padding-right:5px;
  text-align:right;
}

form label
{
  color:#959595;
  font-size:14px;
}

form textarea
{
  height:150px;
}

.notification
{
  background:#a3ea9e;
  padding:3px 10px;
  border:1px solid #58c050;
  color:#16870e;
  margin-left:10px;
}

/* Footer */

#footer
{
  margin-top:6px;
  clear:both;
  font-size:11px;
  margin-left:3px;
  width:924px;
  color:#000;
  height:12px;
  padding:15px 20px;
  background:url("/images/footer.jpg") no-repeat;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}